<!DOCTYPE html>
<html>

<head>
  <title>{{commandResult.command.description}}</title>
  <meta name="viewport" content="width=device, initial-scale=1" />
  <link rel="stylesheet" type="text/css" href="/style.css" />
</head>

<body>

<pre>

$ {{commandResult.command.command}}

{{commandResult.output}}
</pre>

</body>

</html>