<!DOCTYPE html>
<html>

<head>
  <title>{{mainPageConfig.title}}</title>
  <meta name="viewport" content="width=device, initial-scale=1" />
  <link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body>
  <h2>{{mainPageConfig.title}}</h2>

  {{^commands.empty}}
  <h3>Commands:</h3>
  <ul>
    {{#commands}}
      <li><a href="commands/{{id}}">{{description}}</a></li>
    {{/commands}}
  </ul>
  {{/commands.empty}}

  {{^proxies.empty}}
  <h3>Proxies:</h3>
  <ul>
    {{#proxies}}
      <li><a href="proxies/{{id}}">{{description}}</a></li>
    {{/proxies}}
  </ul>
  {{/proxies.empty}}

  {{^staticPaths.empty}}
  <h3>Static Paths:</h3>
  <ul>
    {{#staticPaths}}
      <li><a href="{{path}}">{{path}}</a></li>
    {{/staticPaths}}
  </ul>
  {{/staticPaths.empty}}

</body>

</html>