<!DOCTYPE html>
<html>

<head>
  <title>{{proxyResult.proxy.description}}</title>
  <meta name="viewport" content="width=device, initial-scale=1" />
  <link rel="stylesheet" type="text/css" href="/style.css" />
</head>

<body>

<a href="..">..</a>

<pre>Now: {{proxyResult.startTime}}

GET {{proxyResult.proxy.url}}

Response Status: {{proxyResult.responseStatus}}

Response Headers:
{{proxyResult.responseHeaders}}

{{proxyResult.responseBody}}
</pre>

</body>

</html>